body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-action {
    display: flex;
    margin-bottom: 20px;
}

.user-action input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.user-action button {
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.user-action button svg path {
    fill: white;
}

textarea {
    width: 97%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    resize: none;
}
textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 4px;
}
img {
    display: block;
    margin: 0 auto;

}